<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
    <title>Cadastro</title>

    <div th:replace="fragments/header :: header-css"/>

</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

    <h1>Usuário</h1>

    <form class="form-group" action="/usuarios/usuariosEdit" th:action="@{/usuarios/usuariosEdit}" method="post">
        <input th:type="hidden" name="id" th:field="${usuario.id}" />
        <div class="form-group" th:classappend="${#fields.hasErrors('usuario.login')} ? 'has-error'">
            <label for="login">Login</label>
            <input type="text" class="form-control" id="login" th:field="${usuario.login}" />
            <span th:if="${#fields.hasErrors('usuario.login')}" th:errors="*{usuario.login}" id="errorLogin" class="help-block"></span>
        </div>
        <div class="form-group" th:classappend="${#fields.hasErrors('usuario.senha')} ? 'has-error'">
            <label for="senha">Senha</label>
            <input type="password" class="form-control" id="senha" th:field="${usuario.senha}" />
            <span th:if="${#fields.hasErrors('usuario.senha')}" th:errors="*{usuario.senha}" id="errorSenha" class="help-block"></span>
        </div>
        <div class="form-check">
			<label class="form-check-label">
			  <input type="checkbox" class="form-check-input" name="admin" th:field="${usuario.admin}" /> Administrador?
			</label>
		</div>
        <button type="submit" class="btn btn-primary">Salvar</button>
        <a href="#" th:href="@{/usuarios}" class="btn btn-danger" role="button">Cancelar</a>
    </form>

</div>

<div th:replace="fragments/footer :: footer"/>

</body>
</html>