<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
    <title>Cadastro</title>

    <div th:replace="fragments/header :: header-css"/>

</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

    <h1 align="center">Tipo<hr></h1>

    <form class="form-group" action="/tiposParticipante/tiposParticipanteEdit" th:action="@{/tiposParticipante/tiposParticipanteEdit}" method="post">
        <input th:type="hidden" name="id" th:field="${tipoParticipante.id}" />
        <div class="form-group">
        	<div class="col-md-6 offset-md-3">
	            <label for="title">Nome</label>
	            <input type="text" class="form-control" id="title" th:field="${tipoParticipante.nome}" />
        	</div>
        </div>
        <div class="form-group">
        	<div class="col-md-6 offset-md-3">
	            <label for="title">Descricao</label>
	            <input type="text" class="form-control" id="title" th:field="${tipoParticipante.descricao}" />
	            <br>
	            <div align="center">
		            <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-ok" ></span>Salvar</button>
	        		<a href="#" th:href="@{/tiposParticipante}" class="btn btn-danger" role="button"><span class="glyphicon glyphicon-remove" ></span>Cancelar</a>
        		</div>
        	</div>
        </div>        
    </form>

</div>

<div th:replace="fragments/footer :: footer"/>

</body>
</html>