<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
    <title>Lista</title>

    <div th:replace="fragments/header :: header-css"/>

</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">
		<br>        
		<div id="top" class="row">
		    <div class="col-md-3">
		        <h2>Pessoas</h2>
		    </div>
		 
		    <div class="col-md-6">
		        <div class="input-group h2">
		            <input name="data[search]" class="form-control" id="search" type="text" placeholder="Pesquisar pessoas por nome">
		            <span class="input-group-btn">
		                <button class="btn btn-primary" type="submit">
		                    <span class="glyphicon glyphicon-search">Buscar</span>
		                </button>
		            </span>
		        </div>
		    </div>
		</div>

        <table class="table table-bordred table-striped">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Nome</th>
                    <th>E-mail</th>
                    <th>Telefone</th>
                    <th>Celular</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="pessoa : ${pessoasList}">
                    <td th:text="${pessoa.id}">1</td>
                    <td th:text="${pessoa.nome}">Admin</td>
                    <td th:text="${pessoa.email}">admin@admin.com</td>
                    <td th:text="${pessoa.telefone}">(55)5555-5555</td>
                    <td th:text="${pessoa.celular}">(55)99999-9999</td>
                    <td>
                        <a class="btn btn-info" href="/pessoas/pessoasEdit/1" th:href="@{/pessoas/pessoasEdit/__${pessoa.id}__}">Editar</a>
                        <a class="btn btn-danger" href="/pessoas/pessoasDelete/1" th:href="@{/pessoas/pessoasDelete/__${pessoa.id}__}"> Excluir</a>                        
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="col-md-3">
			<a class="btn btn-success" href="/pessoas/pessoasEdit" th:href="@{/pessoas/pessoasEdit}">Novo</a>
		</div>
    </div>

<div th:replace="fragments/footer :: footer"/>

</body>
</html>