<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Cadastrar Ponto de Pauta</title>

<div th:replace="fragments/header :: header-css"/>
</head>
<body>
	<div th:replace="fragments/header :: header"/>

<div class="container">

    <h1 align="center">Pauta</h1>

    <form class="form-group" action="/pontosPauta/pontoPautaEdit" th:action="@{/pontosPauta/pontoPautaEdit}" method="post">
        <input th:type="hidden" name="id" th:field="${pontoPauta.id}" />
        <div class="form-group" th:classappend="${#fields.hasErrors('pontoPauta.ordem')} ? 'has-error'">
            <div class="col-md-6 offset-md-3">
            <label >Ordem</label>
            <input type="number" class="form-control" id="ordem" th:field="${pontoPauta.ordem}" placeholder="Digite a ordem de importancia.."/>
            </div>
            <span th:if="${#fields.hasErrors('pontoPauta.ordem')}" th:errors="*{pontoPauta.ordem}" id="errorOrdem" class="help-block"></span>
        </div>
        <div class="form-group" th:classappend="${#fields.hasErrors('pontoPauta.descricao')} ? 'has-error'">
            <div class="col-md-6 offset-md-3">
            <label>Descrição</label>
            <textarea class="form-control" id="descricao" name="descricao" th:field="${pontoPauta.descricao}" placeholder="Digite a descrição da pauta.."></textarea>
            </div>
            <span th:if="${#fields.hasErrors('pontoPauta.descricao')}" th:errors="*{pontoPauta.descricao}" id="errorDescricao" class="help-block"></span>
        </div>
        <div class="form-group" th:classappend="${#fields.hasErrors('pontoPauta.tempo')} ? 'has-error'">
            <div class="   col-md-6 offset-md-3">
            <label>Tempo</label>
            <input type="number" class="form-control" id="tempo"  th:field="${pontoPauta.tempo}"/>
            </div>
            <span th:if="${#fields.hasErrors('pontoPauta.tempo')}" th:errors="*{pontoPauta.tempo}" id="errorTempo" class="help-block"></span>
        </div>
        <div class="form-group" th:classappend="${#fields.hasErrors('pontoPauta.discussao')} ? 'has-error'">
            <div class="col-md-6 offset-md-3">
            	<label for="celular">Discussão</label>
            		<textarea class="form-control" id="discussao" name="discussao" th:field="${pontoPauta.discussao}"></textarea>
            	<div class="   col-md-6 offset-md-3">
            	<span th:if="${#fields.hasErrors('pontoPauta.discussao')}" th:errors="*{pontoPauta.discussao}" id="errorDiscussao" class="help-block"></span>
        				
	    		</div>
        	</div>
        </div> 
        <div class="form-group" th:classappend="${#fields.hasErrors('pontoPauta.responsavel')} ? 'has-error'">
        	<div class="col-md-6 offset-md-3">
        		 <legend align="center">Selecione o responsável</legend>
        		 <select class="col-md-6 offset-md-3" id="pessoa" name="pessoa" th:field="${pontoPauta.responsavel}">
        			<option value=""></option>
        			<option th:each="pessoa : ${responsavelList}" th:value="${pessoa.id}" th:text="${pessoa.nome}"></option>
        			<span th:if="${#fields.hasErrors('pontoPauta.responsavel')}" th:errors="*{pontoPauta.responsavel}" id="errorResponsavel" class="help-block"></span>
        		</select>
        	</div>
        </div>
        <div class="form-group" th:classappend="${#fields.hasErrors('pontoPauta.tipo')} ? 'has-error'">
        	<div class="col-md-6 offset-md-3">
        		 <legend align="center">Selecione o Tipo da Pauta</legend>
        		 <select class="col-md-6 offset-md-3" id="tipo" name="tipo" th:field="${pontoPauta.tipo}">
        			<option value=""></option>
        			<option th:each="tipo : ${tipoList}" th:value="${tipo.id}" th:text="${tipo.nome}"></option>
        			<span th:if="${#fields.hasErrors('pontoPauta.tipo')}" th:errors="*{pontoPauta.tipo}" id="errorTipo" class="help-block"></span>
        		</select>
        		<br><br>
        		<div align="center">
	        	<button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span>Cadastrar</button>
	        	<a href="#" th:href="@{/pontosPauta}" class="btn btn-danger" role="button"><span class="glyphicon glyphicon-remove"></span> Cancelar</a> 
        		</div>
        	</div>
        </div>
    </form>	
</div>

<div th:replace="fragments/footer :: footer"/>
</body>
</html>