<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
    <title>Sistema de Reuniao (Pautas de Reunião)</title>

    <div th:replace="fragments/header :: header-css"/>

</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">
																	<!--Modal de Exclusão	-->
	<div class="card">
		<div id="myModal" class="modal fade">
			<div class="modal-dialog modal-confirm">
				<div class="modal-content">
					<div class="modal-header">
						<div class="icon-box" align="center">
							<i class="material-icons">&#xE5CD;</i>
						</div>				
							
		                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">
						<p class="alert alert-danger">Deseja deletar este registro? O processo não pode ser desfeito</p>
					</div>
					<div align="center">
						<button id="voltar" type="button" class="btn btn-success" data-dismiss="modal"><span class="glyphicon glyphicon-menu-left">Cancelar</button>
						<a href="" id="delRef" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Excluir</a>
					</div>
				</div>
			</div>
		</div> 
																	<!--Modal de cadastro-->
	<div class="myForm">
	<form class="form-group" action="/pontosPauta/pontoPautaEdit/reuniao/1" th:action="@{/pontosPauta/pontoPautaEdit/reuniao/__${reuniao.id}__}" method="post">
		<div id="exampleModal" class="modal fade">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">	
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>	
					</div>
					<div class="modal-body">
							<input th:type="hidden" name="id" th:field="${pontoPauta.id}" />
						        <div class="form-group" th:classappend="${#fields.hasErrors('pontoPauta.ordem')} ? 'has-error'">
						            <div class="col-md-6 offset-md-3">
						            <label >Ordem</label>
						            <input type="number" class="form-control" id="ordem" th:field="${pontoPauta.ordem}" value="" placeholder="Digite a ordem de importancia.."/>
						            </div>
						            <span th:if="${#fields.hasErrors('pontoPauta.ordem')}" th:errors="*{pontoPauta.ordem}" id="errorOrdem" class="help-block"></span>
						        </div>
						        <div class="form-group" th:classappend="${#fields.hasErrors('pontoPauta.descricao')} ? 'has-error'">
						            <div class="col-md-6 offset-md-3">
						            <label>Descrição</label>
						            <textarea class="form-control" id="descricao"  name="descricao" th:field="${pontoPauta.descricao}" placeholder="Digite a descrição da pauta.."></textarea>
						            </div>
						            <span th:if="${#fields.hasErrors('pontoPauta.descricao')}" th:errors="*{pontoPauta.descricao}" id="errorDescricao" class="help-block"></span>
						        </div>
						        <div class="form-group" th:classappend="${#fields.hasErrors('pontoPauta.tempo')} ? 'has-error'">
						            <div class="   col-md-6 offset-md-3">
						            <label>Tempo</label>
						            <input type="number" class="form-control" id="tempo" value=""  th:field="${pontoPauta.tempo}"/>
						            </div>
						            <span th:if="${#fields.hasErrors('pontoPauta.tempo')}" th:errors="*{pontoPauta.tempo}" id="errorTempo" class="help-block"></span>
						        </div>
						        
						        <!-- <div class="form-group" th:classappend="${#fields.hasErrors('pontoPauta.discussao')} ? 'has-error'">
						            <div class="col-md-6 offset-md-3">
						            	<label>Discussão</label>
						            		<textarea class="form-control" id="discussao" name="discussao" th:field="${pontoPauta.discussao}"></textarea>
						            	<div class="   col-md-6 offset-md-3">
						            	<span th:if="${#fields.hasErrors('pontoPauta.discussao')}" th:errors="*{pontoPauta.discussao}" id="errorDiscussao" class="help-block"></span>
						        				
							    		</div>
						        	</div>
						        </div> -->
						         
						        <div class="form-group" th:classappend="${#fields.hasErrors('pontoPauta.responsavel')} ? 'has-error'">
						        	<div class="col-md-6 offset-md-3">
						        		 <legend align="center">Selecione o responsável</legend>
						        		 <select class="col-md-12" id="pessoa" name="pessoa" value="" th:field="${pontoPauta.responsavel}">
						        			<option value=""></option>
						        			<option th:each="pessoa : ${responsavelList}" th:value="${pessoa.id}" th:text="${pessoa.nome}"></option>
						        			<span th:if="${#fields.hasErrors('pontoPauta.responsavel')}" th:errors="*{pontoPauta.responsavel}" id="errorResponsavel" class="help-block"></span>
						        		</select>
						        	</div>
						        </div>
						   <div class="form-group" th:classappend="${#fields.hasErrors('pontoPauta.tipo')} ? 'has-error'">
						       <div class="col-md-12">
						        	<legend align="center">Selecione o Tipo da Pauta</legend>
						        		<select class="col-md-6 offset-md-3" id="tipo" name="tipo" th:field="${pontoPauta.tipo}">
						        			<option value=""></option>
						        			<option th:each="tipo : ${tipoList}" th:value="${tipo.id}" th:text="${tipo.nome}" value=""></option>
						        			<span th:if="${#fields.hasErrors('pontoPauta.tipo')}" th:errors="*{pontoPauta.tipo}" id="errorTipo" class="help-block"></span>
						        		</select>
						        		<br><br>
						        		<div align="center">
							        		<button class="btn btn-success"><span class="glyphicon glyphicon-ok"></span>Cadastrar</button>
							        		<button class="btn btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-remove">Cancelar</button> 
						        		</div>
						       	</div>
						  </div>
					</div>			
				</div>
			</div>
		</div> 
	</form>	
	</div>	
    <div class="container" style="margin-top: 1em;">
    <form>
        <div class="row">
            <div class="col-md-6" style="padding=0.5em;">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title" align="center">Informações da Reunião</h2>
                        <label>Título:<span th:text="${reuniao.titulo}"></span></label><br>
                        <label>Data:<span th:text="${reuniao.data}"></span></label><br>
                        <label>Local:<span th:text="${reuniao.local}"></span></label><br>
                        <label>Início:<span th:text="${reuniao.horaInicio}"></span></label><br>
                        <label>Fim:<span th:text="${reuniao.horaFim}"></span></label><br>
                        <label>Pré-requisito:<span th:text="${reuniao.preRequisito}"></span></label><br>
                        <label>Tipo de Reunião:<span th:text="${reuniao.tipo.nome}"></span></label><br>
                        <label>Objetivo:<span th:text="${reuniao.objetivo}"></span></label><br>
                        <hr>
                        <button class="btn btn-success nBtn"><span class="glyphicon glyphicon-ok"></span>Cadastrar</button>
                    </div>
                </div>
            </div>            
             <div class="col-md-6">
                <div class="card"> 
                    <div class="card-body">
                        <h2 class="card-title" align="center">Pautas</h2>
                       <table class="table table-bordred table-striped">
				         <thead>
				              	<tr>
				              		<th>Descrição</th>
				                    <th>Responsável</th>
				                </tr>
				            </thead>
				            <tbody>
				            <tr th:each="pontoPauta : ${page}">
				                    <td th:text="${pontoPauta.descricao}">Pauta</td>
				                    <td th:text="${pontoPauta.responsavel.getNome()}">Admin</td>
				                     <td>
				                    	<a class="btn btn-success eBtn" th:href="@{/pontosPauta/pontoPautaEdit/__${pontoPauta.id}__/reuniao/__${reuniao.id}__}" title="Editar"><span class="glyphicon glyphicon-edit"></span></a>
				                    	<a class="btn btn-danger delBtn" href="/pontosPauta/pontoPautaDelete/1" th:href="@{/pontosPauta/pontoPautaDelete/__${pontoPauta.id}__}" title="Excluir"><span class="glyphicon glyphicon-remove"></span></a>
				                    </td> 
				                </tr>  
				            </tbody>
        				</table>
                    </div>
                </div>
            </div> 
        </div>
        </form>
</div>
    
</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>

</body>
</html>