<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
    <title>Cadastro</title>

    <div th:replace="fragments/header :: header-css"/>

</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

    <h1 align="center">Tipo<hr></h1>

    <form class="form-group" action="/tipos/tiposEdit" th:action="@{/tipos/tiposEdit}" method="post">
        <input th:type="hidden" name="id" th:field="${tipo.id}" />
        <div class="form-group">
        	<div class="col-md-6 offset-md-3">
	            <label >Nome</label>
	            <input type="text" class="form-control"  th:field="${tipo.nome}" />
        	</div>
        </div>
        <div class="form-group">
        	<div class="col-md-6 offset-md-3">
	            <label for="title">Descricao</label>
	            <textarea class="form-control" name="descricao" th:field="${tipo.descricao}"></textarea>
       		</div>
        </div>
        <div class="form-group">
        <div class="col-md-6 offset-md-3">
            <label for="title">Debate?</label>
            <input type="checkbox" name="debate" th:field="${tipo.debate}" />  
        </div>              
        </div>  
        <div class="form-group">
        	<div class="col-md-6 offset-md-3">
        	<br>
        	<br>
        		<div align="center"> 
        			<button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-ok">Salvar</button>
        			<a href="#" th:href="@{/tipos}" class="btn btn-danger" role="button"><span class="glyphicon glyphicon-remove">Cancelar</a>
    			</div>
    		</div>
    	</div>
    </form>

</div>

<div th:replace="fragments/footer :: footer"/>

</body>
</html>