<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
    <title>Cadastro</title>

    <div th:replace="fragments/header :: header-css"/>

</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

    <h1>Tipo</h1>

    <form class="form-group" action="/tipos/tiposEdit" th:action="@{/tipos/tiposEdit}" method="post">
        <input th:type="hidden" name="id" th:field="${tipo.id}" />
        <div class="form-group">
            <label for="title">Nome</label>
            <input type="text" class="form-control" id="title" th:field="${tipo.nome}" />
        </div>
        <div class="form-group">
            <label for="title">Descricao</label>
            <input type="text" class="form-control" id="title" th:field="${tipo.descricao}" />
        </div>
        <div class="form-group">
            <label for="title">Debate?</label>
            <input type="checkbox" name="debate" th:field="${tipo.debate}" />            
        </div>        
        <button type="submit" class="btn btn-primary">Salvar</button>
        <a href="#" th:href="@{/tipos}" class="btn btn-danger" role="button">Cancelar</a>
    </form>

</div>

<div th:replace="fragments/footer :: footer"/>

</body>
</html>