<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
    <title>Lista</title>

    <div th:replace="fragments/header :: header-css"/>

</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">
		<br>        
		<div id="top" class="row">
		    <div class="col-md-3">
		        <h2>Tipos</h2>
		    </div>
		 
		    <div class="col-md-6">
		        <div class="input-group h2">
		            <input name="data[search]" class="form-control" id="search" type="text" placeholder="Pesquisar itens">
		            <span class="input-group-btn">
		                <button class="btn btn-primary" type="submit">
		                    <span class="glyphicon glyphicon-search">Buscar</span>
		                </button>
		            </span>
		        </div>
		    </div>
		</div>

        <table class="table table-bordred table-striped">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Nome</th>
                    <th>Descrição</th>
                    <th>Debate?</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="tipo : ${tiposList}">
                    <td th:text="${tipo.id}">1</td>
                    <td th:text="${tipo.nome}">Tipo</td>
                    <td th:text="${tipo.descricao}">admin@admin.com</td>
                    <td th:text="${tipo.debate}">false</td>
                    <td>
                        <a class="btn btn-info" href="/tipos/tiposEdit/1" th:href="@{/tipos/tiposEdit/__${tipo.id}__}"><span class="glyphicon glyphicon-pencil"></span>Editar</a>
                        <a class="btn btn-danger" href="/tipos/tiposDelete/1" th:href="@{/tipos/tiposDelete/__${tipo.id}__}"><span class="glyphicon glyphicon-remove"></span>Excluir</a>                        
                    </td>
                </tr>
            </tbody>
        </table>
         <div class="col-md-3">
		     <a class="btn btn-success" href="/tipos/tiposEdit" th:href="@{/tipos/tiposEdit}"><span class="glyphicon glyphicon-plus"></span>Novo</a>
		 </div>
    </div>

<div th:replace="fragments/footer :: footer"/>

</body>
</html>