<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
    <title>Lista</title>

    <div th:replace="fragments/header :: header-css"/>

</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">
	<div class="card">
		<div id="myModal" class="modal fade">
			<div class="modal-dialog modal-confirm">
				<div class="modal-content">
					<div class="modal-header">
						<div class="icon-box" align="center">
							<i class="material-icons">&#xE5CD;</i>
						</div>				
							
		                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">
						<p class="alert alert-danger">Deseja deletar este registro? O processo não pode ser desfeito</p>
					</div>
					<div align="center">
						<button id="voltar" type="button" class="btn btn-success" data-dismiss="modal"><span class="glyphicon glyphicon-menu-left">Cancelar</button>
						<a href="" id="delRef" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Excluir</a>
					</div>
				</div>
			</div>
		</div> 
	</div>	
		<br>        
		<div id="top" class="row">
		    <div class="col-md-3">
		        <h2>Tipos</h2>
		    </div>
		 
		    <div class="col-md-6">
		        <div class="input-group h2">
		            <input name="data[search]" class="form-control" id="search" type="text" placeholder="Pesquisar itens">
		            <span class="input-group-btn">
		                <button class="btn btn-primary" type="submit">
		                    <span class="glyphicon glyphicon-search">Buscar</span>
		                </button>
		                <a class="btn btn-success" href="/tipos/tiposEdit" th:href="@{/tipos/tiposEdit}"><span class="glyphicon glyphicon-plus"></span>Novo</a>
		            </span>
		        </div>
		    </div>
		</div>

        <table class="table table-bordred table-striped">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Nome</th>
                    <th>Descrição</th>
                    <th>Debate?</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="tipo : ${page}">
                    <td th:text="${tipo.id}">1</td>
                    <td th:text="${tipo.nome}">Tipo</td>
                    <td th:text="${tipo.descricao}">admin@admin.com</td>
                    <td th:text="${tipo.debate}">false</td>
                    <td>
                        <a class="btn btn-info" href="/tipos/tiposEdit/1" th:href="@{/tipos/tiposEdit/__${tipo.id}__}"><span class="glyphicon glyphicon-pencil"></span>Editar</a>
                        <a class="btn btn-danger delBtn" href="/tipos/tiposDelete/1" th:href="@{/tipos/tiposDelete/__${tipo.id}__}"><span class="glyphicon glyphicon-remove"></span>Excluir</a>                        
                    </td>
                </tr>
            </tbody>
        </table>
        <div align="center">
        	<ul class="pagination">
        		<li>
			    <span th:if="${page.hasPrevious()}">
			      <a th:href="@{/tipos(page=${page.number-1},size=${page.size})}">Anterior</a>
			    </span>
			    <th:block th:each="i: ${#numbers.sequence(0, page.totalPages - 1)}">
			        <span th:if="${page.number == i}" class="selected">[[${i}+1]]</span>
			        <span th:unless="${page.number == i}">
			          <a th:href="@{/tipos(page=${i},size=${page.size})}">[[${i}+1]]</a>
			        </span>
			        
			    </th:block>
			    <span th:if="${page.hasNext()}">
			        <a th:href="@{/tipos(page=${page.number+1},size=${page.size})}">Proximo</a>
			    </span>
			    <li>
			</ul>    
		</div>
    </div>

<div align="center" th:replace="fragments/footer :: footer"/>

</body>
</html>