<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">	
</head>

<body>

	<div th:fragment="footer">						
		<div class="card-body text-center" style="bottom: 0; position: fixed;">
			<blockquote class="blockquote mb-0">        
				<footer class="blockquote-footer" style="bottom: 0; position: fixed;">
					<em>Sistema de gerenciamento de reuniões, desenvolvido para a disciplina <strong>Projeto Integrador II</strong> do curso de <strong>Tecnologia em Análise e Desenvolvimento de Sistemas</strong> do <strong>IFPR, Campus Foz do Iguaçu</strong>.</em><br>
					<cite title="Source Title">© 2018 Desenvolvido por Pablo L. Flores e Tiago Marins</cite>          
				</footer>        
			</blockquote>
		</div>
	</div>

</body>

</html>