<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>    
	<div th:fragment="header-css">    
		<title>Flex Meeting - Sistema de Gerenciamento de Reuniões</title>	
	    <link rel="stylesheet" type="text/css" media="all" href="../../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
	    <link rel="stylesheet" type="text/css" media="all" href="../../css/bootstrap.css" th:href="@{/css/bootstrap.css}" />
	    <link rel="stylesheet" type="text/css" media="all" href="../../css/estilo.css" th:href="@{/css/estilo.css}" />	    
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	    <script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}" src="js/jquery-3.3.1.min.js"></script>
	    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}" src="js/bootstrap.min.js"></script>
	    <script type="text/javascript" th:src="@{/js/bootstrap.js}" src="js/bootstrap.js"></script>
	    <script type="text/javascript" th:src="@{/js/main.js}" src="../static/js/main.js"></script>
	    
	    <!-- teste -->
	    <link href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round" rel="stylesheet">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>	    	    
    </div>
</head>
<body>

<div class="container">	      
	<div th:fragment="header">									
		<nav class="navbar navbar-expand-lg navbar-navbar bg-navbar">
		  <img src="/imagens/logo2.png" class="logoHome">
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarNavDropdown" style='justify-content: center'>
		    <ul class="navbar-nav">
		     
		      <li id="hl" class="nav-item">
		        <div align="center"><a align="center" class="nav-link" href="/index" th:href="@{/index}"><span><img src="/icons/home.svg" width="18px" height="18px"><br>Home</span></a></div>
		      </li>
	        
		      <li class="nav-item dropdown" >
		        <a align="center" class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		          <span ><img src="/icons/cadastro.svg" width="18px" height="18px"><br>Cadastros</span>
		        </a>
		        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
		          <a class="dropdown-item" href="/pessoas" th:href="@{/pessoas}">Pessoas</a>		          
		          <a class="dropdown-item" href="/tipos" th:href="@{/tipos}">Tipo</a>
		          <a class="dropdown-item" href="/tiposParticipante" th:href="@{/tiposParticipante}">Tipos de participante</a>			          
		        </div>
		      </li>
		      <li class="nav-item dropdown">
		        <a align="center" class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		          <span ><img src="/icons/users.svg" width="18px" height="18px"><br>Reuniao</span>
		        </a>
		        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
		          <a class="dropdown-item" href="/reunioes" th:href="@{/reunioes}">Listagem</a>
		          <a class="dropdown-item" href="/reunioes/reunioesEdit" th:href="@{/reunioes/reunioesEdit}">Agendamento</a>			          
		        </div>
		      </li>
		      <!-- <li align="center" class="nav-item dropdown">
		        <a  class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		          <span ><img src="/icons/grafico.svg" width="18px" height="18px"><br>Relatorios</span>
		        </a>
		        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
		          <a class="dropdown-item" href="/" th:href="@{/reunioes}">Reuniões executadas por periodo</a>			          			         
		        </div>
		      </li>
		      <li class="nav-item">
		        <a align="center" class="nav-link" href="#">
		        	<span ><img src="/icons/info.svg" width="18px" height="18px"><br>Sobre</span>
		        </a>
		      </li>		 -->      
		    </ul>		    
		    <ul>
		    <!-- FORM QUE VAI SER USADO PARA REALIZAR O LOGOUT -->
			<form th:action="@{/logout}" id="form_logou" th:method="post">
				<li id="hl" class="nav navbar-nav navbar-right">
			       <div align="center"><a align="center" class="nav-link" href="#" onclick="document.getElementById('form_logou').submit();"><span><img src="/icons/logout.svg" width="18px" height="18px"><br>Log-out</span> </a></div> 
			    </li>
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
			</form>
		    </ul>
		  </div>
		</nav>				
	</div>
</div>

</body>
</html>      