<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
    <title>Lista</title>

    <div th:replace="fragments/header :: header-css"/>

</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

        <h1>Notes</h1>

        <p>
            <a href="/notes/notesEdit" th:href="@{/notes/notesEdit}">Novo</a>
        </p>

        <table class="table">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Titulo</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="notes : ${notesList}">
                    <td th:text="${notes.id}">1</td>
                    <td th:text="${notes.title}">Test</td>
                    <td>
                        <a href="/notes/notesEdit/1" th:href="@{/notes/notesEdit/__${notes.id}__}">Edit</a>
                        <a href="/notes/notesDelete/1" th:href="@{/notes/notesDelete/__${notes.id}__}">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

<div th:replace="fragments/footer :: footer"/>

</body>
</html>