<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
    <title>Cadastro</title>

    <div th:replace="fragments/header :: header-css"/>

</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

    <h1>Notes</h1>

    <form class="form-group" action="/notes/notesEdit" th:action="@{/notes/notesEdit}" method="post">
        <input th:type="hidden" name="id" th:field="${notes.id}" />
        <div class="form-group">
            <label for="title">Título</label>
            <input type="text" class="form-control" id="title" th:field="${notes.title}" />
        </div>
        <div class="form-group">
            <label for="content">Conteúdo</label>
            <textarea class="form-control" id="content" th:field="${notes.content}"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Salvar</button>
        <a href="#" th:href="@{/notes}" class="btn btn-danger" role="button">Cancelar</a>
    </form>

</div>

<div th:replace="fragments/footer :: footer"/>

</body>
</html>