<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">	
		<h3>Erro no sistema</h3>
		<hr>
		<!--  As we are using Thymeleaf, you might consider using
		      ${#httpServletRequest.requestURL}. But that returns the path
		      to this error page.  Hence we explicitly add the url to the
		      Model in some of the example code. -->
		
		<p th:if="${url}">
			<b>URL:</b> <span th:text="${url}">Page URL</span>
		</p>	
	
		<p th:if="${timestamp}" id='created'>
			<b>Ocorrido em:</b> <span th:text="${timestamp}">Timestamp</span>
		</p>
	
		<p th:if="${status}">
			<b>Response Status:</b> <span th:text="${status}">status-code</span> <span
				th:if="${error}" th:text="'('+${error}+')'">erro ...</span>
		</p>
	
		<p>A aplicação encontrou um erro. Por favor contactar o suporte em <em><strong>suporte@flexmeeting.com</strong></em>.</p>	
		    
</div>


	<div th:replace="fragments/footer :: footer"/>

</body>
</html>