<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
    <title>Sistema de Reuniao (index)</title>

    <div th:replace="fragments/header :: header-css"/>

</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

    <div class="container" style="margin-top: 1em;">
    <form>
        <div class="row">
            <div class="col-md-6" style="padding=0.5em;">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title" align="center">Reuniões Finalizadas</h2>
                        <table class="table table-bordred table-striped">
				            <thead>
				                <tr>
				                    <th>Data</th>
				                    <th>Titulo</th>
				                    <th>Ações</th>
				                </tr>
				            </thead>
				            <tbody>
				                <tr th:each="reuniao : ${reuniaoFinalizada}">
				                    <td th:text="${reuniao.data}">2018-09-25</td>
				                    <td th:text="${reuniao.titulo}">Admin</td>
				                    <td>
				                    	<a class="btn btn-info" href="/reunioes/reunioesEdit/1" th:href="@{/reunioes/reunioesEdit/__${reuniao.id}__}"><span class="glyphicon glyphicon-info-sign"></span>   Detalhes</a>
				                    </td>
				                </tr>
				            </tbody>
        </table>
                    </div>
                </div>
            </div>            
            <div class="col-md-6">
                <div class="card"> 
                    <div class="card-body">
                        <h2 class="card-title" align="center">Reuniões Atuais</h2>
                        <table class="table table-bordred table-striped">
				            <thead>
				                <tr>
				                	<th>Data</th>
				                    <th>Titulo</th>
				                    <th>Ações</th>
				                </tr>
				            </thead>
				            <tbody>
				                <tr th:each="reuniao : ${reuniaoAgendada}">
				                    <td th:text="${reuniao.data}">2018-09-25</td>
				                     <td th:text="${reuniao.titulo}">Admin</td>
				                    <td>
				                    	<a class="btn btn-info" href="/reunioes/reunioesEdit/1" th:href="@{/reunioes/reunioesEdit/__${reuniao.id}__}"><span class="glyphicon glyphicon-info-sign"></span>   Detalhes</a>
				                    </td>
				                </tr>     
				            </tbody>
        				</table>
                    </div>
                </div>
            </div>
        </div>
        </form>
</div>
    
</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>

</body>
</html>