<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
    <title>Lista</title>

    <div th:replace="fragments/header :: header-css"/>

</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">
		<br>        
		<div id="top" class="row">
		    <div class="col-md-3">
		        <h2>Reuniões</h2>
		    </div>
		 
		    <div class="col-md-6">
		        <div class="input-group h2">
		            <input name="data[search]" class="form-control" id="search" type="text" placeholder="Pesquisar itens">
		            <span class="input-group-btn">
		                <button class="btn btn-primary" type="submit">
		                    <span class="glyphicon glyphicon-search">Buscar</span>		                  
		                </button>
		                	<a class="btn btn-success" href="/reunioes/reunioesEdit" th:href="@{/reunioes/reunioesEdit}"><span class="glyphicon glyphicon-plus"></span>Novo</a>
		            </span>
		        </div>
		        
		    </div>
		</div>

        <table class="table table-bordred table-striped">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Titulo</th>
                    <th>Data</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="reuniao : ${page}">
                    <td th:text="${reuniao.id}">1</td>
                    <td th:text="${reuniao.titulo}">Admin</td>
                    <td th:text="${reuniao.data}">2018-09-25</td>
                    <td>
                        <a class="btn btn-info" href="/reunioes/reunioesEdit/1" th:href="@{/reunioes/reunioesEdit/__${reuniao.id}__}"><span class="glyphicon glyphicon-edit"></span>Editar</a>
                        <a class="btn btn-danger" href="/reunioes/reunioesDelete/1" th:href="@{/reunioes/reunioesDelete/__${reuniao.id}__}"><span class="glyphicon glyphicon-remove"></span> Excluir</a>  
                        <a class="btn btn-primary" href="/pontosPauta/pontoPautaEdit" th:href="@{/pontosPauta/pontoPautaEdit}"><span class="glyphicon glyphicon-pencil"></span> Criar Pauta</a>                       
                    </td>
                </tr>
            </tbody>
        </table>
        <div align="center">
        	<ul class="pagination">
        		<li class="page-item">
			    <span th:if="${page.hasPrevious()}">
			      <a th:href="@{/reunioes(page=${page.number-1},size=${page.size})}">Anterior</a>
			    </span>
			    <th:block th:each="i: ${#numbers.sequence(0, page.totalPages - 1)}">
			        <span th:if="${page.number == i}" class="selected">[[${i}+1]]</span>
			        <span th:unless="${page.number == i}">
			          <a th:href="@{/reunioes(page=${i},size=${page.size})}">[[${i}+1]]</a>
			        </span>
			        
			    </th:block>
			    <span th:if="${page.hasNext()}">
			        <a  th:href="@{/reunioes(page=${page.number+1},size=${page.size})}">Proximo</a>
			    </span>
			    </li>
			</ul>    
		</div>
    </div>

<div th:replace="fragments/footer :: footer"/>

</body>
</html>