<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
    <title>Cadastro</title>

    <div th:replace="fragments/header :: header-css"/>

</head>
<body>
<div th:replace="fragments/header :: header"/>


<div class="container" >
	
	<div class="row" >
            <div class="col-md-6" style="padding=0.5em;">
                <div class="card" >
                    <div class="card-body">
                        <legend align="center">Dados da Reunião</legend>
                        <form class="form-horizontal" action="/reunioes/reunioesEdit" th:action="@{/reunioes/reunioesEdit}" method="post">
							<input th:type="hidden" name="id" th:field="${reuniao.id}" />	
							<div class="form-group">  
								<div class="col-md-11 vertical-space">
									<input type="text" placeholder="Título da reunião" class="form-control input-md" th:field="${reuniao.titulo}">
									<span th:if="${#fields.hasErrors('reuniao.titulo')}" th:errors="*{reuniao.titulo}" id="errorTitulo" class="help-block"></span>
								</div>
							</div>					
							<div class="form-group">
								<!-- <label class="col-md-2 control-label">Data</label> -->
								<div class="col-md-11 vertical-space">
									<input type="date" class="form-control input-md" th:field="${reuniao.data}">
									<span th:if="${#fields.hasErrors('reuniao.data')}" th:errors="*{reuniao.data}" id="errorData" class="help-block"></span>
								</div>
							</div>
							
							<div class="form-group">
								<div class="col-md-11 vertical-space">
									<input type="text" placeholder="local da reunião" class="form-control input-md" th:field="${reuniao.local}">
									<span th:if="${#fields.hasErrors('reuniao.local')}" th:errors="*{reuniao.local}" id="errorLocal" class="help-block"></span>
								</div>
							</div>					
							<div class="form-group">
								<label class="col-md-2 control-label">Início</label>
								<div class="col-md-3 vertical-space">
									<input type="time" class="form-control input-md" th:field="${reuniao.horaInicio}">
									<span th:if="${#fields.hasErrors('reuniao.horaInicio')}" th:errors="*{reuniao.horaInicio}" id="errorHoraInicio" class="help-block"></span>
								</div>
								<label class="col-md-2 control-label">Fim</label>  
								<div class="col-md-3 vertical-space">
									<input type="time" class="form-control input-md" th:field="${reuniao.horaFim}">
									<span th:if="${#fields.hasErrors('reuniao.horaFim')}" th:errors="*{reuniao.horaFim}" id="errorHoraFim" class="help-block"></span>
								</div>
							</div>							
							<div class="form-group">
								<label class="col-md-3 control-label">Pré-requisito</label>
								<div class="col-md-2 vertical-space">
									<div class="input-group">
										<span class="input-group-addon col-md3">     
											<input type="radio" name="dependencia"> Sim    
											<input type="radio" name="dependencia"> Não
										</span>
									</div>
								</div>  
							</div>
							<div class="form-group">
									<div class="col-md-11">	
										<input type="text" placeholder="Informar o pré-requisito da reunião" class="form-control input-md" th:field="${reuniao.preRequisito}">
										<span th:if="${#fields.hasErrors('reuniao.preRequisito')}" th:errors="*{reuniao.preRequisito}" id="errorPreRequisito" class="help-block"></span>
									</div>
							</div>
							<div class="form-group">
								<div class="col-md-5">
						        	<select id="tipo" name="tipo" th:field="${reuniao.tipo}">
						        		<option value="">Selecione o tipo de reunião</option>
						        		<option th:each="tipo : ${tipos}" th:value="${tipo.id}" th:text="${tipo.nome}"></option>
						        		<span th:if="${#fields.hasErrors('reuniao.tipo')}" th:errors="*{reuniao.tipo}" id="errorTipo" class="help-block"></span>
						        	</select>
					        	</div>
							</div>
							<div class="form-group">
								<div class="col-md-5">
									<input type="text" placeholder="Objetivo..." class="form-control input-md" th:field="${reuniao.objetivo}">
									<span th:if="${#fields.hasErrors('reuniao.objetivo')}" th:errors="*{reuniao.objetivo}" id="errorObjetivo" class="help-block"></span>
								</div>
							</div>
							<div class="col-md-6 offset-md-3 vertical-space"> 
								<div align="center">
									<button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span>Cadastrar</button>
									<a href="#" th:href="@{/reunioes}" class="btn btn-danger" role="button"><span class="glyphicon glyphicon-remove"></span> Cancelar</a>
								</div>
							</div>				
						</form>
                    </div>
                </div>
            </div>            
             <div class="col-md-6">
                <div class="card"> 
                    <div class="card-body">
                        <legend align="center">Adicionar Participantes</legend>
                        	<table class="table table-bordred table-striped">
					            <thead>
					                <tr>
					                    <th>Nome</th>
					                </tr>
					            </thead>
					            <tbody>
					                <tr th:each="pessoa : ${pessoas}">
					                                	
					                    <td th:text="${pessoa.nome}"></td>
					                    <td>
					                    	<input type="checkbox" value="${pessoa.id}" th:field="${reuniao.participantes}">
					                    </td>           
					                </tr>
					            </tbody>
        					</table>
                    </div>
                </div>
            </div> 
        </div>
	
</div>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>