<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
    <title>Sistema de Reuniao (Executar Reunião)</title>

    <div th:replace="fragments/header :: header-css"/>
	
	<script type="text/javascript">
    	$("#data").mask("dd/MM/yyyy");    	
    </script>

</head>
<body> 

<div th:replace="fragments/header :: header"/>

<div class="container">
	
    <div class="container" style="margin-top: 1em;">
	        <div class="row">
	            <div class="col-md-6" style="padding=0.5em;">
	                <div class="card">
	                    <div class="card-body" align="center">
	                        <!-- <h2 class="card-title" align="center">Informações da Reunião</h2>  -->	
	                        <h3 class="card-title" align="center">Título:<span th:text="${reuniao.titulo}"></span></h3><br>
	                        <label id="data">Data:<span th:text="${reuniao.data}"></span></label><br>
	                        <label>Local:<span th:text="${reuniao.local}"></span></label><br>
	                        <label>Início:<span th:text="${reuniao.horaInicio}"></span></label><br>
	                        <label>Fim:<span th:text="${reuniao.horaFim}"></span></label><br>
	                        <label>Pré-requisito:<span th:text="${reuniao.preRequisito}"></span></label><br>
	                        <label>Tipo de Reunião:<span th:text="${reuniao.tipo.nome}"></span></label><br>
	                        <label>Objetivo:<span th:text="${reuniao.objetivo}"></span></label><br>
	                        <hr>
	                    </div>
	                </div>
	            </div>            
	             <div class="col-md-6">
                <div class="card"> 
                    <div class="card-body">
                        <h2 class="card-title" align="center">Pautas</h2>
        				
        					<form th:action="@{/reunioes/pontoPauta/reuniao/__${reuniao.id}__}"  method="post">
        					
		        				 <div class="form-group" th:classappend="${#fields.hasErrors('pontoPauta.discussao')} ? 'has-error'">
		        				 		<br><br>
		        				 		<div class="col-md-10 offset-md-1 vertical-space">
					                        <label>Pauta</label>
					                        <select class="form-control" style="height:2.5em;" id="pauta" name="idPauta">
					                            <option value="">Selecione</option>
					                            <option th:each="p : ${pontosPauta}" 
					                                    th:value="${p.id}" th:text="${p.descricao}">Pauta X</option>
					                        </select>
	                    				</div>
		        				 				        				 
									    <div class="col-md-10 offset-md-1 vertical-space">
									    	<label for="discussao">Registro da pauta</label>
									        	<textarea class="form-control" id="disc" name="disc" 
									            ></textarea>
									            <div class="   col-md-10 offset-md-1">					        				
										    	</div>
										    	<button class="btn btn-success" type="submit">Registrar <span class="glyphicon glyphicon-ok"></span></button>
							        	</div>
						        </div> 	
						    </form>    
                    </div>
                </div>
            </div>  
	        </div>
</div>
<br><br>
<table class="table table-bordred table-striped">
            <thead>
                <tr>
                    <td align="center"><b>Ordem</th>
                    <td align="center"><b>Descrição</th>
                    <td align="center"><b>Discussão</th>
                    <td align="center"><b>Responsável</th>
                    <td align="center"><b>Tipo</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="pontoPauta : ${pontosPauta}">
                    <td align="center" th:text="${pontoPauta.ordem}">1</td>
                    <td align="center" th:text="${pontoPauta.descricao}">pauta</td>
                    <td align="center" th:text="${pontoPauta.discussao}">pauta</td>
                    <td align="center" th:text="${pontoPauta.responsavel.getNome()}">Adm</td>
                    <td align="center" th:text="${pontoPauta.tipo.getNome()}">tipo pauta</td>
                    <!-- <td>
                        <a class="btn btn-info" href="/pontosPauta/pontoPautaEdit/1" th:href="@{/pontosPauta/pontoPautaEdit/__${pontoPauta.id}__}"><span class="glyphicon glyphicon-edit"></span>Editar</a>
                        <a class="btn btn-danger delBtn" href="/pontosPauta/pontoPautaEdit/1" th:href="@{/pontosPauta/pontoPautaDelete/__${pontoPauta.id}__}"><span class="glyphicon glyphicon-remove"></span> Excluir</a>                         
                    </td> -->
                </tr>
            </tbody>
        </table>
    
</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>

</body>
</html>